version: "3.9"

services:

  backend:
    build: ./backend
    container_name: repo-rag-backend
    ports:
      - "8000:8000"
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    volumes:
      - ./backend/data:/app/data
      - ./backend/vectorstore:/app/vectorstore
      - ./backend/app:/app/app
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: repo-rag-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
